
.portfolio-item {
}

.portfolio-item .portfolio-content {
    padding: 40px;
    background-image: url("lol.gif");
}

.portfolio-item .item-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.portfolio-item .item-title {
    margin: 0 10px 0 0;
}

.portfolio-item .item-created {
    font-weight: bold;
    color: #AAA;
}

.portfolio-item .item-tags {
    /*display: inline-block;*/
    display: none;
}

.portfolio-item .item-content {
    line-height: 1.5em;
    color: #555;
}

.portfolio-item h1,
.portfolio-item h2,
.portfolio-item p,
.portfolio-item ul {
    margin-bottom: 20px;
}

.portfolio-item h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.5em;
    color: #05A1B2;
}

.portfolio-item img {
    display: block;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    margin: auto;
    border: solid #EEE 1px;
    background-color: #CCC;
}

.portfolio-item button.b-lazy {
    display: block;
    margin: auto;
    border: solid #EEE 1px !important;
}

.portfolio-item ul {
    margin-left: 20px;
}

@media (max-width: 500px) {
    .portfolio-item .item-header {
        flex-direction: column;
        align-items: flex-start;
    }
    .portfolio-item br.responsive {
        display: none;
    }
}

/*
 * hottest pink: #FF1493
 * nice blue: #24BBCC
 *
 * darker blue: #05A1B2
 * mellowish purple/pink: #B2206F
 * yeller: #FFE52D
 */

@font-face {
  font-family: "Fjalla One";
  src: url("FjallaOne-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("fist1.png"), url("fist2.png"), url("noise1.png"), url("noise2.png");
    background-repeat: no-repeat, no-repeat, repeat-y, repeat-y;
    background-position: left center, right center, left, right;
    background-attachment: scroll, scroll, fixed, fixed;
}

a {
    color: #FF1493;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

.vbox {
    display: flex;
    flex-direction: column;
}

.hbox {
    display: flex;
    flex-direction: row;
}

.wrapper {
    max-width: 800px;
    margin: auto;
}

.main-header {
    color: white;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

    height: 90vh;
    max-height: 600px;
}

/* this is the dropshadow/bg */
.main-header .name {
    font-family: 'Fjalla One', sans-serif;
    position: relative;
    font-weight: bold;
    font-size: 5em;
    letter-spacing: -4px;
    color: white;
    transform: scale(1,1.7) rotate(-1deg);
}

/* this is the visible text */
.main-header .name::after {
    content: "JOHNMATOS";
    color: #24BBCC;
    position: absolute;
    top: 1px;
    left: -4px;
}

.main-header .name:hover {
    animation: jitter 0.1s infinite;
}

.main-header .name:hover::after {
    color: #FF1493;
}

.main-header .name:active {
    transform: scale(5,5) rotate(-1deg);
}


@keyframes jitter {
    0% { top: 0; left: 0; }
    50% { top: 4px; left 0; }
    100% { top: -0px; left: 1px; }
}

.main-footer .contact,
.main-header .contact {
    margin: 10px -10px;
}

.main-footer .contact a,
.main-header .contact a {
    display: inline-block;
    background-color: #24BBCC;
    padding: 2px 4px 2px 20px;
    margin: 2px 5px 2px 0;
    color: white;
}
.main-header .contact a:hover {
    background-color: #FF1493;
    color: white;
    text-decoration: none;
    padding-left: 25px;
    /* make 5px space for the padding-left shift */
    margin-right: 0px;
}

.main-footer .contact .fa,
.main-header .contact .fa {
    padding-right: 6px;
    color: #FFE52D;
}
.main-footer .contact a:hover .fa,
.main-header .contact a:hover .fa {
    color: white;
}

.content {
}

.main-footer {
    width: 100%;
    background-color: #FFE52D;
    text-align: center;
    padding: 20px 20px 20px 20px;
}
.main-footer .contact {
    margin: 0;
    background-color: transparent;
}
.main-footer .contact a,
.main-footer .contact a:hover {
    padding: 2px 4px;
}
.main-footer .contact a:hover {
    background-color: #FF1493;
    text-decoration: none;
}

.main-footer .my-name {
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    font-size: 7em;
    letter-spacing: -6px;
    color: white;
}


@media (max-width: 500px) {
    body {
        font-size: 20px;
        min-width: 360px;
    }
    .main-header {
        font-size: 1em !important;
    }
    .main-footer .my-name {
        font-size: 3em !important;
        letter-spacing: -3px;
    }
}

@media (max-width: 700px) {
    .main-header {
        flex-direction: column-reverse;
        font-size: 1.5em;
        height: auto;
        max-height: none;
        margin-top: 10px;
        height: 90vh;
    }
    .main-header .name {
        font-size: 3.5em;
        letter-spacing: -2px;
        z-index: 1;
    }
    .main-header .contact {
        /* i feel terrible about this */
        z-index: 2;
        display: flex;
    }
    .main-header .contact br {
        /* i feel terrible about this too */
        display: none;
    }
    .main-header .contact a {
        display: inline;
        transform: none !important;
        width: 100%;
        padding: 2px 10px;
    }
    .main-header .contact .fa {
        padding-right: 0;
    }
    .main-header .contact a:hover {
        padding-left: 10px;
        margin-right: 5px;
    }
    .main-header .contact a .title {
        display: none;
    }
    .main-footer .my-name {
        font-size: 5em;
    }
    body {
        background-image: url("fist1.png"), url("noise1.png"), url("noise2.png");
        background-repeat: no-repeat, repeat-y, repeat-y;
        background-position: calc(100% - 40px) center, left, right;
        background-attachment: scroll, fixed, fixed;
    }
}

.main-nav {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    position: fixed;
    top: 10px;
    right: -10px;
    height: 100vh;
}

.main-nav .nav-item {
    display: flex;
    flex: 1 1;
    width: 35px;
    max-height: 35px;
    min-height: 15px;
    align-items: center;
    background-color: #24BBCC;
    color: #24BBCC;
    margin: 4px;
    padding-right: 5px;
    overflow: hidden;
    text-decoration: none;
    transform-origin: center right;

    transition: all 0.15s cubic-bezier(.87,-.41,.19,1.44);
}

.main-nav .nav-item.rando-0 {
    transform: rotate(4deg);
}
.main-nav .nav-item.rando-1 {
    transform: rotate(2deg);
}
.main-nav .nav-item.rando-2 {
    transform: rotate(-1deg);
}
.main-nav .nav-item.rando-3 {
    transform: rotate(-3deg);
}

.main-nav .nav-item.selected.rando-0 {
    transform: rotate(4deg) scale(1.2, 1.2);
}
.main-nav .nav-item.selected.rando-1 {
    transform: rotate(2deg) scale(1.2, 1.2);
}
.main-nav .nav-item.selected.rando-2 {
    transform: rotate(-1deg) scale(1.2, 1.2);
}
.main-nav .nav-item.selected.rando-3 {
    transform: rotate(-3deg) scale(1.2, 1.2);
}

.main-nav .nav-item.selected,
.main-nav .nav-item:hover {
    background-color: #FF1493;
    color: white;
    width: auto;
}

.main-nav .nav-item .item-title {
    white-space: nowrap;
    display: inline-block;
    display: none;
    margin: 0 32px 0 10px;
}

.main-nav .nav-item.selected .item-title,
.main-nav .nav-item:hover .item-title {
    display: block;
    margin-right: 10px;
}


@media (max-width: 700px) {

    .main-nav .nav-item {
        transition: none;
    }
}

@media (max-width: 500px) {
    .main-nav {
        display: none;
    }
}

@media (max-height: 450px) {
    .main-nav .nav-item {
        margin: 2px 4px;
    }
}
